* {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  list-style-type: none;
  margin-bottom: 1em;
  overflow: hidden;
  padding-right: 1.5em;
  padding-top: 0.5em;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-size: 3em;
  margin-top: 2em;
}

.hero h1, .hero h2 {
  color: #fafafa;
}

.hero h2 {
  font-weight: lighter;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 1em;
}

.box img {
  height: 450px;
  width: 600px;
}

.code-box {
  background-color: #f7f7f7;
  display: inline-block;
  height: 450px;
  vertical-align: top;
}

.code {
  font-family: monospace;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

.hero .button {
  display: block;
  margin-top: 5em;
}

.button {
  background-color: #bf6bcf;
  border: 0 solid;
  border-radius: 1em;
  color: #f7f7f7;
  font-size: 1em;
  margin: 0 auto;
  padding: 0.5em;
  text-decoration: none;
  width: 10em;
}

.button:hover {
  background-color: #af60bf; /*#c074cf*/
  cursor: pointer;
}

.section-1 {
  background-color: #77db6e; /*#87ed7e*/
  padding-bottom: 6em;
}

.section-2 {
  background-color: #f7f7f7;
  color: #151f3b;
  padding: 3em;
}

.section-2 h1 {
  font-size: 2.5em;
}

.section-2 h1, h2 {
  color: #151f3b;
}

.section-2 h2 {
  font-weight: lighter;
}

.group-left {
  padding-left: 6em;
}

.group-right {
  padding-right: 6em;
  text-align: right;
}

.section-2 img {
  padding-top: 1em;
  width: 50%;
}
