.absolute {
  position: absolute;
}

h1 {
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #151f3b;
}

#title-heading {
  width: 12em;
  top: 2em;
  font-size: 3em;
}

h2 {
  z-index: 1;
  color: #151f3b;
}

h2 span {
  font-family: 'Heebo';
}

#subtitle-heading {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 16.5em;
  top: 8em;
}

#upload-icon {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 110px;
}

#upload-icon path {
  fill: #151f3b;
}

#tools {
  z-index: 1;
  text-align: center;
  display: none;
  background-color: #98a9b5;
}

#image-heading {
  position: relative;
}

#label {
  position: relative;
  color: #151f3b;
}

#label-input {
  border-radius: 0.5em;
  border: 0 solid;
  padding-left: 0.25em;
  font-size: 1.5em;
}

#label-input, #save-label {
  color: #151f3b;
}

label {
  font-size: 1.5em;
}

button {
  border: 0 solid;
}

#generate {
  border: 0 solid;
  border-radius: 1em;
  background-color: #f79823;
  font-size: 14pt;
  position: relative;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  padding: 0.5em 1em;
  display: none;
}

#generate:hover {
  background-color: #db8418;
  cursor: pointer;
}

#code-box {
  display: none;
  position: relative;
  margin-top: 16em;
  margin-left: auto;
  margin-right: auto;
  height: 20em;
  width: 500px;
  font-family: monospace;
}

.navigation {
  position: absolute;
  bottom: 2em;
  display: none;
}

#left {
  left: 2em;
  padding: 2em;
}

#right {
  left: 8em;
  padding: 2em;
}

#snackbar {
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30em;
  padding: 10px 0;
  background-color: #303030;
  color: #e8e8e8;
  text-align: center;
  position: fixed;
  bottom: 2em;
  visibility: hidden;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 2em; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 2em; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 2em; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 2em; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
